.tables {
    margin: auto;
    width: 60%;
    margin-top: 2em;
    /*background-color: #e3e3e3;*/
}

.tables h2 {
    text-align: left;
    margin: 1em 0 10px 3%;
    display: inline;
}

.claims-table {
    width:100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 2em;
    font-size: 1em;
    text-align: left;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.reference {
    width:2%;
}

.desc {
    width: 18%;
}

.claims-table thead tr {
    background-color: #d71b1d;
    color: #ffffff;
    font-weight: bold;
}

.claims-table th{
    padding: 10px 12px;
    white-space: nowrap;
} 

.claims-table td {
    white-space: nowrap;
    overflow: hidden;
    padding: 10px 12px;
    width: min-content; 
}

.claims-table tbody tr {
    background-color: white;
    border-bottom: 1px solid #d1b9b9
}

.claims-table tbody tr:nth-of-type(even) {
    background-color: #ece6e6
}

.claims-table tbody tr:last-of-type {
    border-bottom: 2px solid #d71b1d
}


.claims-table tbody tr:hover {
    cursor: pointer;
    background-color: #d1b9b9;
}

