.addClaim input[type=text] {
    width:100%;
}

.addClaim input[type=number] {
    text-align: right;
}

.addClaim textarea {
    width: 100%;
    resize: vertical;
}

.top {
    overflow: auto;
}

.topLeft {
    float: left;
    width: 60%;
}

.topRight {
    margin-left: 40%;
    text-align: right;
}

.middle {
    display: block;
}

.bottom {
    overflow: auto;
}

.bottomLeft {
    float: left;
    width: 60%;
}

.bottomRight {
    margin-left: 40%;
    text-align: right;
}

.addClaim strong {
    margin-top: 1em;
    margin-bottom: 0.1em;
    display: inline-block;
    font-size: larger;
}

.addClaim .submitButton {
    float: right;
    padding: 0.4em;
}

label {
    margin: auto;
    color: #b4191b;
    font-size: large;
}

.policeTitle {
    font-size: larger;
    text-decoration: underline;
}

