header {
    background-color: white;
    padding: 0 10% 0 10%;
    display: flex;
}

img {
    height: 80px;
    padding-top: 3%;
}

nav {
    margin: auto;  
    margin-left: 5%;
    width: 60%;  
    display: flex;
}

#claimOptions {
    float: right;
}

nav a {
    font-size: 1.3em;
    text-decoration: none;
    color: black;
    padding: 1vb;
    margin: 1vb;
}

nav a:hover, .navbarButton:hover {
    background-color: #d1b9b9;
    border-radius: 30px;
}

nav .edit >[href="/view-claim"] {
    display: block;
}

.navbarButton {
    font-size: 1.3em;
    padding: 1vb;
    margin: 1vb;
    background: none;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.search {
    margin: auto;
    overflow: auto;
    display: flex;
    width: 40%;
}

nav .deleteButton {
    font-size: large;
}