.searchBarDiv {
    float: left;
    margin-left: 5px;
}

.searchBar {
    float: right;
    width:30%;
    height: 2em;
    transition: width 400ms ease-in-out;
    background-image: url('searchicon.png');
}
  
.searchBar:focus {
    width: 100%;
}

.buttonDiv {
    float: right;
}
