.submitUpdate {
    display: flex;
}

.form {
    width: 100%;
    margin-bottom: 2%;
}

.submitUpdate textarea {
    width: 80%;
    resize: vertical;
}

input[type=text]:focus {
    border: 3px solid #c49e9e;
}

.submitUpdate .submitButton { 
    float: right;
    width: 19%;
    margin-left: 1%;
}