.files {
    display: grid;
    font-size: 1.3em;
    line-height: 1.3em;
    padding: 0.5em 0.7em;
    background-color: #d1b9b9;
    margin-bottom: 0.3em;
    border-radius: 10px 10px 10px 10px;
}   

.files .file {
    text-align: left;
}

.files .time {
    float: right;
    width:100%;
    text-align: right;
}

.files .time span {
    float: left;
}

