.tables {
    margin: auto;
}

.tables h2 {
    text-align: left;
    margin: 3% 0 10px 8%;
}

.claims-table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: auto;
    font-size: 1.2em;
    text-align: left;
    width: 85%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.reference {
    width:min-content;
}

.desc {
    width: 15%;
}

.claims-table thead tr {
    background-color: #d71b1d;
    color: #ffffff;
    font-weight: bold;
}

.claims-table th{
    padding: 12px 15px;
    white-space: nowrap;
    /*width: min-content;
    height:min-content;*/
} 

.claims-table td {
    white-space: nowrap;
    overflow: hidden;
    padding: 12px 15px;
    width: min-content; 
    /*
    height:min-content;*/
}

.claims-table tbody tr {
    border-bottom: 1px solid #d1b9b9
}

.claims-table tbody tr:nth-of-type(even) {
    background-color: #ece6e6
}

.claims-table tbody tr:last-of-type {
    border-bottom: 2px solid #d71b1d
}

/* need to add logic to give hovered over row new class */
.claims-table tbody tr:hover {
    cursor: pointer;
    background-color: #d1b9b9;
}