.claimPage {
    width: 60%;
    margin: auto;
}

.claimPage .bottom {
    overflow: auto;
    display: block;
}

.claimPage .bottomLeft {
    float: left;
    width: 60%;
}

.claimPage .bottomRight {
    margin-left: 60%;
    text-align: right;
}