.App {
  background-color: #e3e3e3;
  font-size: 1em;
}

textarea, input[type=text] {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;;
  background-color: #ded1d1;
  padding: 0.3em 0.6em;
  box-sizing: border-box;
  outline:none;
  border: 2px solid #d1b9b9;
  border-radius: 5px;
  font-size: 1.3em;
}

.submitButton {
  height: 2em;
  text-align: center;
  font-size: 1.5em;
  padding: 0.1em;
  border: none;
  color: white;
  background-color: #d71b1d;
  border-radius: 10px;
}

.submitButton:hover {
  cursor: pointer;
  background-color:#6e0e0f;
}